*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-radius: 15px;
}

body{
    display: grid;
    grid-template-rows: 100px 1fr 60px;
    height: 100vh;
    padding: 20px;
    background-color: burlywood;
    background-size: cover;
    row-gap: 20px;
    column-gap: 20px;
}



/* Parte de cima (título)*/

header{
    display: grid;
    text-align: center;
    font-size: 50px;
    word-spacing: 3px;
}

.Photo{
    color: white;
    font-family: 'Concert One', cursive;
    
}

.Gallery{
    color: saddlebrown;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 47px;
}
/**/



/**/
main{
    display: grid;
    margin: 0px 200px 0px 200px;
}

.container_principal{
    display: grid;
    grid-template-areas: 
        "esquerdo direito"
        "esquerdo direito"
        "baixo baixo";
    grid-template-rows: 3fr 3fr 2.8fr;
    grid-template-columns: 8fr 6.5fr;
    column-gap: 20px;
    row-gap: 20px;
    cursor: pointer;
}
/**/



/*Container esquerdo (foto grande)*/

.esquerdo{
    display: grid;
    grid-area: esquerdo;
}

.foto1{
    display: grid;
    background-image: url(./img/apatossauro1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: sepia(5%);
    background-position: center;
}

.foto1:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

/**/



/*Container direito*/

.direito{
    display: grid;
    grid-area: direito;
    grid-template-areas: 
        "foto2 foto3"
        "foto4 foto5";
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}

.foto2{
    display: grid;
    grid-area: foto2;
    background-image: url(./img/parasaurolophus.jpg);
    background-size: cover;
    filter: sepia(10%);
    background-repeat: no-repeat;
    background-position: center;
}

.foto2:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.foto3{
    display: grid;
    grid-area: foto3;
    background-image: url(./img/estegossauro2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: contrast(110%);
}

.foto3:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.foto4{
    display: grid;
    grid-area: foto4;
    background-image: url(./img/triceratops4.1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.foto4:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.foto5{
    display: grid;
    grid-area: foto5;
    background-image: url(./img/apatossauro2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(130%);
    background-position: initial center;
}

.foto5:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/**/



/*Container de baixo*/

.baixo{
    display: grid;
    grid-area: baixo;
    grid-template-areas: 
        "foto6 foto7 foto8";
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
}

.foto6{
    display: grid;
    grid-area: foto6;
    background-image: url(./img/stegossauro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: sepia(10%);
    background-position: center;
}

.foto6:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.foto7{
    display: grid;
    grid-area: foto7;
    background-image: url(./img/hylaeossaurus1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    filter: saturate(100%);
}

.foto7:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.foto8{
    display: grid;
    grid-area: foto8;
    background-image: url(./img/triceratops5.1.jpg);
    background-size: cover;
    filter: saturate(110%);
    background-repeat: no-repeat;
    background-position: center;
}

.foto8:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/**/

/*Parte de baixo e botão*/

footer{
    display: flex;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
}

.botão{
    background-color: saddlebrown;
    border-radius: 50px;
    width: 150px;
    height: 50px;
    align-items: center;
    justify-content: center;
    display: grid;
    font-size: 1.2em;
    color: ghostwhite;
    font-family: 'Gloria Hallelujah', cursive;
    text-decoration: none;
}

.botão:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
/**/

/* responsividade */
@media(max-width:768){
    body{
        padding-left: 12px;
        padding-right: 12px;
    }

    .container_principal{
        display: flex;
        flex-direction: column;
    }

    .esquerdo{
        width: 100%;
        height: 33vh;
    }

    .direito{
        width: 100%;
        height: 33vh;
    }

    .baixo{
        width: 100%;
        height: 33vh;
    }
}
/*  */